.logo {
  display: flex;
  flex-direction: column;
  padding: 35px 42px;
}

.logoIcon {
  width: 212px;
  height: 39px;

  cursor: pointer;
}

.logo span {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  font-style: regular;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 5px;
}